<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sys.cub360.catholicchurch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity" />
        <activity android:name=".CreateuserActivity" />
        <activity android:name=".ParishActivity" />
        <activity android:name=".DiocesActivity" />
        <activity android:name=".DeanaryActivity" />
        <activity android:name=".ProvinceActivity" />
        <activity android:name=".UsercreateActivity" />
        <activity android:name=".parishblogActivity" />
        <activity android:name=".ContinueActivity" />
        <activity android:name=".newparishblogActivity" />
        <activity android:name=".Read.PickActivity" />
        <activity android:name=".Read.Calendaractivity" />
        <activity android:name=".Read.Readprovince" />
        <activity android:name=".Read.Readdioces" />
        <activity android:name=".Read.Readdenary"></activity>
    </application>

</manifest>